<!-- Services Section Start -->
<section id="services" class="section-padding">
  <div class="section-header text-center">
    <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">서비스 소개</h2>
    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <img class="img-responsive" src="<%=asset_path 'about-mobile-image.png'%>" />    <!--Mobile-->
      </div>
      <div class="hidden-xs col-sm-12 hidden-md hidden-lg">
          <img class="img-responsive" src="<%=asset_path 'about-mobile-image.png'%>" />   <!--Tab-->
      </div>
      <div class="hidden-xs hidden-sm col-md-12 hidden-lg">
          <img class="img-responsive" src="<%=asset_path 'about-web-image.png'%>" />   <!--Desktop-->
      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-12">
          <img class="img-responsive" src="<%=asset_path 'about-web-image.png'%>" />  <!--Large-->
      </div>
    </div>
    <hr>
    <div class="row" style="margin-bottom: 20px;">
      <!-- Services item -->
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fab fa-slideshare"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">레시피 공유하기</a></h3>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon">
            <i class="fas fa-grip-vertical"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">레시피 재료</a></h3>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-4 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
          <div class="icon">
            <i class="fas fa-list-ol"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">레시피 방법</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->
