<div class="section-header text-center">
  <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">제휴문의</h2>
  <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <img class="img-responsive" src="<%=asset_path 'ad-web-image.png'%>" />    <!--Mobile-->
    </div>
    <div class="hidden-xs col-sm-12 hidden-md hidden-lg">
        <img class="img-responsive" src="<%=asset_path 'ad-web-image.png'%>" />   <!--Tab-->
    </div>
    <div class="hidden-xs hidden-sm col-md-12 hidden-lg">
        <img class="img-responsive" src="<%=asset_path 'ad-web-image.png'%>" />   <!--Desktop-->
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-12">
        <img class="img-responsive" src="<%=asset_path 'ad-web-image.png'%>" />  <!--Large-->
    </div>
  </div>
  <div class="ad-info">
    <p>메일 : help@iwantairfryer.com </p>
    <br>
    <p>연락처 : 010-7553-4181</p>
    <br>
    <br>
    <p>감사합니다.</p>
    <br>
  </div>
</div>
