<h2 class="text-center" style="margin-top: 30px; margin-bottom: 30px;">마이 페이지</h2>

<div class="mypage-info">
  <div class="info-change">
    <%= link_to '개인정보변경', edit_user_registration_path %>
  </div>
  <div class="log-out">
    <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
  </div>
</div>
